* {box-sizing: border-box;}

/* Style the navbar */
.topnav {
  overflow: hidden;
  background-color: var(--azul);
  padding: 15px;
  color: var(--amarillito);
   font-family: "Cherry Bomb One", normal-ui;
   font-weight: lighter;
}
.topnav a img {
padding:0px 0px;
  max-width: 200px;
  margin: 0px;
  margin-top: -20%;
}
/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: var(--amarillo);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}


/* Navbar links on mouse-over */
.topnav a:hover {
  background-color: var(--azul);
  color: var(--aqua);
}

/* Active/current link */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the input container */
.topnav .login-container {
  float: right;
}

/* Style the input field inside the navbar */
.topnav input[type=text],input[type=password] {
  padding: 12px 15px;
  margin-top: 8px;
  font-size: 17px;
  font-family: "Cherry Bomb One", system-ui;
  font-weight: lighter;
  border: none;
  border-radius: 50px;
  background-color: var(--amarillito);
  width: 150px; /* adjust as needed (as long as it doesn't break the topnav) */
}

/* Style the button inside the input container */
.topnav .login-container button {
 display: inline-block;
  padding: 12px 15px;
  margin: 10px;
  background-color: var(--azulito);
  color: #173034;
  font-family: "Cherry Bomb One", system-ui;
  border: none;
  border-radius: 50px;
  box-shadow: 0 9px #173034;
  text-decoration: none;
  font-size: 20px;
  font-weight: normal;
  transition: 0.3s ease;
}

.topnav .login-container button:hover {
  background: var(--amarillo);
}

/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav .login-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .login-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

:root {
  --amarillito: #ffdea8;
  --amarillo: #fcb036;
  --azulito: #0098c2;
  --azul: #173034;
  --aqua: #82ddb2;

}