html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

canvas {
  display: block;
}

.Usuario {
  position: fixed;       
  right: 20px;           
  top: 20%;              
  border: 5px solid var(--aqua);
  border-radius: 20px;
  padding: 20px;
  width: 220px;          
  z-index: 1500;         
  box-shadow: -10px 10px 0px var(--azul);
  font-family: "Cherry Bomb One", system-ui;
  text-align: center;
  animation: slideInRight 0.5s ease; 
}

.Usuario .info h1 {
  font-size: 24px;
  color: var(--azul);
}

.Usuario .info h2 {
  font-size: 18px;
  color: var(--azul);
  background-color: white;

  margin: 5px 0;
}

@keyframes slideInRight {
  from {
    transform: translateX(150%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}



.casaContainer {
  height: 100%;
  width: 100%;

  background-image: 
    url("../images/fondos/fondo_nieve.png"),
    linear-gradient(to bottom, #87CEFA, #c2ecff);
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;

  animation: skyAnim 30s infinite alternate ease-in-out;
}

@keyframes skyAnim {
  0% {
    background-image:
      url("../images/fondos/fondo_nieve.png"),
      linear-gradient( to bottom, #c2ecff,#004f9e); 
  }
  50% {
    background-image:
      url("../images/fondos/fondo_nieve.png"),
      linear-gradient(to bottom, #c2ecff, #004f9e79); 
  }
  100% {
    background-image:
      url("../images/fondos/fondo_nieve.png"),
      linear-gradient(to bottom, #c2ecff, #004f9e00); 
  }
}


    :root {
  --amarillito: #ffdea8;
  --amarillo: #fcb036;
  --azulito: #0098c2;
  --azul: #173034;
  --aqua: #82ddb2;

}

/* CSS BÁSICO para probar el movimiento */
 
        .hamster-character {
            position: absolute;
            width: 50px;
            height: 50px;
            background-color: blue; /* Hamster de prueba */
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            transition: all 0.05s linear; /* Para movimientos más suaves */
        }
        .hamster-character span {
            color: white;
            font-size: 10px;
            position: absolute;
            top: -15px;
        }
        .local-player {
            background-color: green; /* Para distinguir tu propio hamster */
        }